.singupagedone__text {
    font-family: var(--principal-font);
    font-size: 3.875rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--singupagedonetext-color);
    text-shadow: 0 0 7.5px var(--singupagedonetextshadow-color);
    opacity: 0.7;
}

@media screen and (max-width: 435px) {

    .singupagedone__text {
        font-size: 3.105rem;
    }
   
}